*.dSYM
*.o
.DS_Store
pack/fuse/packfs
etwconv/samples
gfconv/groupformations*.bin
gfconv/groupformations*.txt
esfxml/esf
esfxml/samples*
esfxml/out
esfxml/output
farm_fields_tile_texture/samples*
tmp
markers/samples
cs2parsed/samples*
atlas/samples
atlas/tmp
luac/src
luac/build
luac/luadec
luac/samples*
luac/lua_decompiled
db/samples*
.redcar
variant_part_mesh/tmp
variant_part_mesh/samples
anim_sound_event/tmp
anim_sound_event/samples
sounds/samples
ui_converter/samples*
loc/samples
unit_variant/samples
etw
saves
*~
autodetector
db/t?
db/f?
cuf/font
cuf/out
pack/*.pack
rigid_splines/samples
cs2parsed/out
extras
templates/samples
sav/samples*
cpg/samples
sav/vanilla
rpy/data
