*.dSYM
*.o
.DS_Store
pack/fuse/packfs
etwconv/samples
gfconv/groupformations*.bin
gfconv/groupformations*.txt
esfxml/esf
esfxml/samples*
esfxml/out
farm_fields_tile_texture/samples
tmp
markers/samples
cs2parsed/samples*
atlas/samples
atlas/tmp
luac/src
luac/build
luac/luadec
luac/samples*
luac/lua_decompiled
db/samples*
.redcar
variant_part_mesh/tmp
variant_part_mesh/samples
anim_sound_event/tmp
anim_sound_event/samples
sounds/samples
ui_converter/samples*
loc/samples
