*.dSYM
*.o
*~
.DS_Store
.redcar
tmp
/*/samples*
autodetector
cs2parsed/out
cuf/font
cuf/out
db/f?
db/t?
esfxml/esf
esfxml/out
esfxml/output
etw
extras
gfconv/groupformations*.bin
gfconv/groupformations*.txt
luac/build
luac/lua_decompiled
luac/luadec
luac/src
markers/samples
pack/*.pack
pack/fuse/packfs
pack/unpacked
rigid_splines/samples
rpy/data
sav/vanilla
saves
